<div class="meal-details">
  <h3>Enter Meal Details</h3>
  <form name="formSubmit" novalidate id="meal-details-form" ng-submit="submit()">
    <div class="meal-labels">
      Base Meal Price: $ <br />
      Tax Rate: % <br />
      Tip Percentage: % <br />
    </div>
    <div class="meal-inputs">
      <input required min="0" type="number" ng-model="vm.mdBaseMealPrice"><br />
      <input required min="0" type="number" ng-model="vm.mdTaxRate"><br />
      <input required min="0" type="number" ng-model="vm.mdTipPercentage"><br />
    </div>
    <p>
      <button type="submit">Submit</button>
      <button type="reset">Reset</button>{{ vm.teste }}
    </p>
  </form>
</div>
<div class="customer-charges">
  <h3>Customer charges</h3>
  Subtotal: {{ vm.ccSubTotal | number : 2 }}<br />
  Tip: {{ vm.ccTip | number : 2 }}<br />
  ______________<br />
  Total: {{ vm.ccSubTotal + vm.ccTip | number : 2 }}<br />
</div>
