<div class="meal-details">
  <h3>Enter Meal Details</h3>
  <form name="formSubmit" novalidate id="meal-details-form" ng-submit="submit()">
    <div class="meal-labels">
      Base Meal Price: $ <br />
      Tax Rate: % <br />
      Tip Percentage: % <br />
    </div>
    <div class="meal-inputs">
      <input required min="0" type="number" ng-model="$root.mdBaseMealPrice"><br />
      <input required min="0" type="number" ng-model="mdTaxRate"><br />
      <input required min="0" type="number" ng-model="mdTipPercentage"><br />
    </div>
    <p>
      <button type="submit">Submit</button>
      <button type="reset">Reset</button>
    </p>
  </form>
</div>
<div class="customer-charges">
  <h3>Customer charges</h3>
  Subtotal: {{ ccSubTotal | number : 2 }}<br />
  Tip: {{ ccTip | number : 2 }}<br />
  ______________<br />
  Total: {{ ccSubTotal + ccTip | number : 2 }}<br />
</div>
